*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.con-fom{
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 2px solid #666666;
  
}
.na-em{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.fom-box{
  padding: 30px;
  height: 450px;
  background-color: #E8EDF0;
  color: #5c5b5b;
  /* color: white; */
  font-weight: bold;
  cursor: pointer;
  box-shadow: 20px;
  width: auto;
}
.ne{
  padding: 5px;
  padding-right: 20px;
  border: white solid;
  /* box-shadow: 1px; */
  margin-top: 5px;
}
.su-me{
  padding: 5px;
  padding-right: 255px;
  margin-top: 5px;
  border: white solid;

}
.lsy{
  margin-top: 10px;
}

.se-btn{
  padding: 10px;
  margin-top: 10px;
  border: #5c5b5b 1px solid ;
  background-color: white;
  color: #5c5b5b;
  /* background-color: blue; */
  border-radius: 5px;
  font-weight: bold;
}
.ta{
  padding-right: 270px;
}
 
.se-btn:hover{
  color: white;
  /* border: 2px solid white; */
  background-color: #5c5b5b;
}

@media (max-width:480px) {
.na-em{
  flex-direction: column;
  gap: 0%;
}
.fom-box{
  height: fit-content;
  max-width: 470px;
  padding: 10px;
}
.su-me{
  padding-right: 155px;
}
.ne{
  padding-right: 155px;
}
.ta{
  padding-right: 160px;
}
.g-fr{
  width: 360px;
}
.se-btn{
  margin-bottom: 10px;
}
.fom-box{
  padding-top: 15px;
}
}
@media(min-width: 768px) {
.g-fr{
  width: 500px;
}
}
@media (min-width:992px) {
  .g-fr{
    width: 400px;
  }
}

.fourth-con{
  /* height: 50px; */
  width: 100%;
  background:linear-gradient(135deg,
  rgba(3,37,76,0.92) 0%,
  rgba(17,125,213,0.9) 60%,
  rgba(5,85,150,0.9) 35%,
  rgba(76,163,255,0.9) 100%) ;
  color:white ;
  display: flex;
  padding: 20px;
  /* gap: 50px; */
  flex-wrap: wrap;
  font-weight: 500;

}
.fourth-con a{
  text-decoration: none;
  color: white;
  /* font-size: ; */
  cursor: pointer;
}

.fourth-con a:hover{
  color: green;
}
.fa-whatsapp{
  margin-left: 10px;
  font-size: 20px;
  /* margin-top: 20px; */
}
