*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section{
    width: 100%;
    height: 650px;
    background: url(../Images/imagetwo.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,255,.7 ) ; 
} */
/* .home-div{
    background-color: rgb(3, 3, 139);
    color: white;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
}

.des-t{
    text-align: center;
    padding-top: 50px;
    
}
.d1{
    font-size: 44px;
    font-weight: 500;
}
.sc-de{
    margin-top: 60px;
    text-align: center;
}
.th-be{
    font-weight: 500;
}

.imgjo{
    height: 500px;
    width: 100%;
    position: absolute;
    background-size: cover;

    overflow: hidden;
} */

/* NEW HOME */

